.about.page-wrapper {
  box-sizing: border-box;
  width: 1170px;
  @media screen and (max-width: 1200px){
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: 1024px){
    width: 100%;
    //padding-left: 32px;
    //padding-right: 32px;
  }
  @media screen and (max-width: 350px){
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}

