.about-reports__years-list {
  @include reset-list;
}

.about-reports__year {
  @include shadow;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 40px 11px 20px;
  min-height: 45px;
  box-sizing: border-box;
  border: none;
  text-align: left;
  font: inherit;
  font-weight: bold;
  color: $black;
  &:focus,
  &:hover {
    cursor: pointer;
    outline: none;
    color: $violet;
  }
  &::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 6px;
    right: 20px;
    top: 20px;
    background-image: url("/img/sprite.svg");
    background-repeat: no-repeat;
    background-position: 0 -11px;
  }
  &--opened {
    &::after {
      background-position: 0 -22px;
    }
  }
}


.about-reports__report-list {
  display: flex;
  @include reset-list;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  opacity: 0;
  height: 0;
  flex-wrap: wrap;
  transition: opacity ease-in-out 300ms,
    max-height ease-in-out 300ms;
}

.about-reports__year--opened + .about-reports__report-list {
  opacity: 100;
  height: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

.about-reports__report + .about-reports__report {
  margin-top: 4px;
}