.btn {
  font: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 15px 15px;
  border-radius: 12px;
  border: none;
  min-width: 150px;
  min-height: 50px;
  color: $white;
  text-align: center;
  text-decoration: none;
  background-color: $blue;
  transition: background-color ease-in-out 300ms,
  color ease-in-out 300ms;
  &:hover {
    background-color: darken($blue, 0.05);
  }
  &:focus {
    outline: none;
    background-color: darken($blue, 0.1);
  }
  &:active {
    background-color: $blue;
  }
  
  &--light {
    background-color: $white;
    color: $blue;
    &:link,
    &:visited {
      background-color: $white;
      color: $blue;
    }
    &:hover {
      background-color: rgba($white, 0.95);
      color: $green;
    }
    &:focus {
      outline: none;
      background-color: $white;
      box-shadow: 0 0 15px 0 rgba($white, 0.2);
      color: $green;
    }
    &:active {
      background-color: rgba($white, 0.85);
    }
  }
}

.btn--primary,
a.btn--primary {
  background-color: $violet;
  color: $white;
  &:hover,
  &:focus {
    color: $white;
    background-color: darken($violet, 5%);
  }
  &:active {
    color: $white;
    background-color: darken($violet, 10%);
  }
}
.btn--secondary,
a.btn--secondary {
  background-color: $blue;
  color: $white;
  &:hover,
  &:focus {
    color: $white;
    background-color: darken($blue, 5%);
  }
  &:active {
    color: $white;
    background-color: darken($blue, 10%);
  }
}

.btn--red {
  background-color: $orange;
  color: $white;
  &:hover {
    background-color: darken($orange, 0.05);
  }
  &:focus {
    outline: none;
    background-color: darken($orange, 0.1);
  }
  &:active {
    background-color: darken($orange, 0.15);
  }
}

.btn--outline-light {
  background-color: transparent;
  border: 1px solid $white;
  &:hover {
    background-color: rgba($white, 0.05);
  }
  &:focus {
    outline: none;
    background-color: rgba($white, 0.1);
  }
  &:active {
    background-color: rgba($white, 0.15);
  }
}