.doc {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 12px 12px 11px 52px;
  margin-bottom: 5px;
  width: 100%;
  min-height: 45px;
  border-radius: 5px;
  color: $green;
  background-color: rgba($light-grey, 1);
  &:focus,
  &:hover {
    outline: none;
    background-color: rgba($green, 0.05);
  }
  &::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 25px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("/img/sprite.svg");
  }
  &--pdf::before {
    background-position-x: -182px;
    background-position-y: 0;
  }
  &--file::before {
    background-position-x: -182px;
    background-position-y: -30px;
  }
}


.doc--file {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.doc__delete-btn {
  position: relative;

  border: none;
  box-shadow: none;
  width: 16px;
  height: 16px;
  background-image: url("/img/sprite.svg");
  background-position: -286px 0;
  background-color: transparent;
  &:focus,
  &:hover {
    cursor: pointer;
    background-position: -286px -21px;
    outline: none;
  }
  &:active {
    background-position: -286px -42px;
  }
}
