.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  background-color: $blue;
  color: $white;

}

.footer a:not(.btn) {
  text-decoration: none;
  &:link,
  &:visited {
    color: rgba($white, 0.7);
  }
  &:hover,
  &:focus {
    outline-color: $white;
    outline-width: 1px;
    color: $white;
  }
  &:active {
    color: $white;
  }

}

.footer .page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.footer__logo-docs {
  width: 260px;
  margin-right: 40px;
  box-sizing: border-box;
  @media screen and (max-width: 1023px) {
    width: 310px;
    flex-shrink: 0;
    margin-bottom: 80px;
  }
  @media screen and (max-width: 767px) {
    //margin-bottom: 210px;
    margin-bottom: 0;
    margin-top: 40px;
    margin-right: 0;
  }
  @media screen and (max-width: 350px) {
    width: 100%;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 30px;
  @media screen and (max-width: 1023px) and (min-width: 768px){
    margin-bottom: 200px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.footer__logo img {
  width: 160px;
  height: 34px;
}

input::placeholder {
  color: $black;
}

.footer__docs {
  @include reset-list;
  @media screen and (max-width: 1023px) and (min-width: 768px){
    position: absolute;
    top: 250px;
  }
}

.footer__details-and-contacts {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  @media screen and (max-width: 1023px) {
    flex-direction: column;
    width: 370px;
    flex-shrink: 0;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.footer-company-details {
  @include reset-list;
  width: 160px;
  margin-right: 40px;
  @media screen and (max-width: 1023px) {
    margin-bottom: 25px;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}

.footer-company-details,
.footer__contacts {
  margin-top: 3px;
}

.footer-docs__item,
.footer-company-details__item {
  margin-bottom: 5px;
}

.footer-docs__item a,
.footer__contacts a {
  display: block;
  &:link,
  &:visited {
    color: rgba($white, 0.7);

  }
  &:hover {
    color: $white;
  }
}

.footer__contacts {
  & p {
    @include reset;
    margin-bottom: 5px;
  }
}

.footer__feedback-btn {
  align-self: flex-start;
  margin-top: 8px;
  margin-bottom: 40px;
  padding: 19px;
  text-transform: uppercase;
  background-clip: $white;
  font-weight: 700;
  width: 243px;
  min-height: 60px;
  @media screen and (max-width: 1279px){
    width: 200px;
  }
  @media screen and (max-width: 1023px){
    width: 100%;
  }

}

.footer__btn-and-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
  @media screen and (max-width: 1023px) and (min-width: 768px){
    position: absolute;
    top: 70px;
    left: 0;
  }
  @media screen and (max-width: 767px){
    margin-left: 0;
    margin-bottom: 40px;
  }
}

.footer__social {

}


