.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba($black, 0.1);
  font-size: 12px;
  line-height: 16px;
  color: rgba($black, 0.7);
}

.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
  @media screen and (min-width: $iphone11) {
    padding: 40px 30px;
  }
  @media screen and (min-width: $ipad) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 50px;
  }
  
  @media screen and (min-width: $ipadpro) {
  width: 960px;
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;
}
  @media screen and (min-width: $desktop) {
    width: 1170px;
  }
}

.footer__logo-and-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $ipad) {
    align-items: flex-start;
    margin-right: 50px;
  }
}

.footer__logo {
  margin-bottom: 24px;
}

.footer__contacts {
  margin-bottom: 40px;
  text-align: center;
  @media screen and (min-width: $ipad) {
    margin-bottom: 0;
    text-align: left;
  }
}

.footer__map {
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  @media screen and (min-width: $ipad) {
    justify-content: flex-end;
    max-width: 500px;
  }
  @media screen and (min-width: $ipadpro) {
    justify-content: flex-end;
    max-width: 500px;
  }
}

.footer__map-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  width: 130px;
  @media screen and (min-width: $ipad) {
    width: auto;
    margin-left: 30px;
  }
  @media screen and (min-width: $ipadpro) {
    margin-left: 70px;
  }
}

a.footer__link {
  display: block;
  padding: 5px 0;
  color: rgba($black, 0.7);
  
  &:hover,
  &:focus {
    color: $violet;
    outline: none;
  }
}

.footer__docs {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba($black, 0.1);
  padding: 40px 20px;
  @media screen and (min-width: $iphone11) {
    padding: 40px 30px;
  }
  @media screen and (min-width: $ipad) {
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 50px;
  }
  @media screen and (min-width: $ipadpro) {
    padding-left: calc((100% - 960px) / 2);
    padding-right: calc((100% - 960px) / 2);
  }
  @media screen and (min-width: $desktop) {
    padding-left: calc((100% - 1170px) / 2);
    padding-right: calc((100% - 1170px) / 2);
  }
}

.footer-docs__item + .footer-docs__item {
  @media screen and (min-width: $ipad) {
    margin-top: 0;
    margin-left: 30px;
  }
}

