.form-fixed {
  @media screen and (min-width: $ipadpro) {
    position: fixed;
    right: 50px;
    width: 376px;
    top: 130px;
  }
  @media screen and (min-width: $desktop) {
    right: calc((100% - 1170px) / 2);
  }
}


