.form {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.form__label {
  position: absolute;
  left: 15px;
  bottom: 14px;
  font-size: 16px;
  line-height: 22px;
}

.form__fieldset {
  @include reset;
  padding: 20px 0;
  border: none;
  
  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.form__legend {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: $black;
}

.form__input,
.form__select {
  padding: 16px 20px;
  margin-bottom: 20px;
  height: 50px;
  background: #EEF6FE;
  border: 1px solid rgba(96, 105, 224, 0.2);
  box-sizing: border-box;
  border-radius: 12px;
  font: inherit;
  &:focus {
    outline: none;
    border: 1px solid $blue;
  }
  &::placeholder {
    color: rgba($black, 0.6);
  }
}



.form__input--invalid {
  border: 1px solid $orange;
}
.form__select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }
}
.form__select-label {
  &::after {
    position: absolute;
    bottom: 19px;
    right: 0;
    content: '';
    width: 12px;
    height: 7px;
    background-image: url("/img/sprite.svg");
    background-repeat: no-repeat;
    background-position: -83px 0;
  }
}

.form__radio-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  & + .form__radio-btn {
    margin-top: 12px;
  }
}

.form__radio-indicator {
  position: relative;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: #EEF6FE;
  border: 1px solid rgba(96, 105, 224, 0.2);
  border-radius: 50%;
  &::after {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $blue;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  
}

.form__input-radio:checked ~ .form__radio-indicator {
  &::after {
    opacity: 1;
  }
}


.form__radio-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba($black, 0.7);
}

.form__checkbox {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__checkbox-indicator {
  display: block;
  position: relative;
  margin-right: 10px;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid rgba(96, 105, 224, 0.2);
  background: $white;
  &::after {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: $blue;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
}

.form__input-checkbox:focus ~ .form__checkbox-indicator,
.form__input-radio:focus ~ .form__radio-indicator {
  border: 1px solid $blue;
}
.form__input-checkbox:checked ~ .form__checkbox-indicator {
  &::after {
    opacity: 1;
  }
}

.form__checkbox-label {
  color: rgba($black, 0.7);
}

.form__label-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  min-width: 45px;
  height: 26px;
  border-radius: 4px;
  color: $white;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.form__label-btn--orange {
  background-color: $orange;
}

.form__label-btn--green {
  background-color: $green;
}

.form__label-btn--blue {
  background-color: $blue;
}

.form__label-btn--violet {
  background-color: $violet;
}

input:focus,
input:hover {
  & ~ .form__label-btn--orange {
    box-shadow: 0 0 5px 2px rgba($orange, 0.3);
  }
  
  & ~ .form__label-btn--green {
    box-shadow: 0 0 5px 2px rgba($green, 0.3);
  }
  
  & ~ .form__label-btn--blue {
    box-shadow: 0 0 5px 2px rgba($blue, 0.3);
  }
  
  & ~ .form__label-btn--violet {
    box-shadow: 0 0 5px 2px rgba($violet, 0.3);
  }
}


