.form__label {
  position: absolute;
  left: 15px;
  bottom: 14px;
  font-size: 16px;
  line-height: 22px;
}

.form__input,
.form__select {
  @include reset;
  font: inherit;
  color: $black;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $blue;
  &:focus {
    outline: none;
    border-bottom: 3px solid $green;
  }

}

.form__input--invalid {
  border-bottom: 3px solid $orange;
}
.form__select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }
}
.form__select-label {
  &::after {
    position: absolute;
    bottom: 19px;
    right: 0;
    content: '';
    width: 12px;
    height: 7px;
    background-image: url("/img/sprite.svg");
    background-repeat: no-repeat;
    background-position: -83px 0;
  }
}

.form__checkbox {
  cursor: pointer;
  position: relative;
  padding-left: 35px;
  & .form__checkbox-indicator {
    position: absolute;
    top: -2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid $middle-grey;
    background-color: $white;
  }

  & input:checked ~ .form__checkbox-indicator::after {
    position: absolute;
    content: '';
    left: 7px;
    top: 1px;
    width: 5px;
    height: 12px;
    border-bottom: 2px solid $green;
    border-right: 2px solid $green;
    transform: rotate(45deg);
  }
  & input:focus  ~ .form__checkbox-indicator {
    border: 1px solid $green;
    box-shadow: 0 0 0 1px $green;
  }

}

input:checked {
  & + .form__label-btn {
    background-color: #EB3723;
    color: $white;
  }

  &:focus + .form__label-btn {
    box-shadow: 0 0 5px rgba($orange, 0.7);
    color: $white;
  }

  & + .form__label-btn .rouble::after {
    background-position-y: -34px;
  }
}


.form--hide {
  display: none;
}


