.form-payment {
  @include shadow;
  
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  @media screen and (min-width: $ipad) {
    margin-bottom: 100px;
  }
  @media screen and (min-width: $ipadpro) {
    width: 376px;
    margin-bottom: 0;
  }
}



.form-payment__top {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0;
  @media screen and (min-width: $iphone11) {
    padding: 20px 20px 0;
  }
}

.form-payment__row {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $ipad) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    & .form__fieldset {
      width: 50%;
      flex-grow: 0;
    }
  }
  @media screen and (min-width: $ipadpro) {
    flex-direction: column;
    align-items: center;
    & .form__fieldset {
      width: 100%;
    }
  }
  
  
}

.form-payment__bottom {
  margin: 3px;
  padding: 20px 7px 20px;
  border-radius: 0 0 8px 8px;
  background-color: rgba($violet, 0.06);
}

.form-payment__text-field {
  display: flex;
  flex-direction: column;
  margin-right: 64px;
  @media screen and (max-width: 1280px){
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.form-payment__text-field label{
  position: relative;
  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.form-payment__input,
.form-payment__select {
  padding-left: 15px;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  border-radius: 0;
}

.form__input--rouble {
  position: relative;
  
  &::after {
    position: absolute;
    content: '₽';
    top: 15px;
    right: 16px;
  }
}


.form-payment__right {
  display: flex;
  flex-direction: column;
}

.form-payment__amount-value-and-input {
  display: flex;
  @media screen and (max-width: 500px){
    flex-direction: column;
  }
}

.form-payment__amount-value {
  @include reset-list;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  & li {
    @include reset;
  }
  & li + li {
    margin-left: 4px;
  }
}



.form__input--rouble .form-payment__amount-input {
  margin-bottom: 12px;
  padding: 10px 38px 10px 20px;
  text-align: right;
  width: 100%;
}

.form-payment__btn-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-payment__btn-submit {
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: $ipad) {
    width: 50%;
  }
}


.form-payment__methods {
}

.form-payment__caption {
  @include reset;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.form-payment__checkbox {
  margin-bottom: 20px;
  @media screen and (min-width: $ipad) {
    width: 50%;
    justify-content: center;
  }
}
