.inner-page {
  box-sizing: border-box;
  padding-top: 180px;
  padding-bottom: 100px;
  min-height: calc(100vh - 265px);
  height: auto;
  @media screen and (max-width: 1280px) {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  @media screen and (max-width: 1023px) {
    padding-top: 130px;
    padding-bottom: 50px;
    min-height: calc(100vh - 345px);
  }
  @media screen and (max-width: 766px) {
    padding-bottom: 40px;
    min-height: 90vh;
  }
}

.inner-page__title {
  @include reset;
  font-family: $font-header;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: $black;
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 370px) {
    font-size: 20px;
    line-height: 25px;

  }
}
