.link-list {
  @include reset-list;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.link-list__item > a {
  @include reset-list;
  @include shadow;
  display: flex;
  flex-direction: column;
  padding: 14px 20px;
}

p + ul.link-list {
  margin-top: 30px;
}
