.longread {
  position: relative;
  display: flex;
  box-sizing: border-box;
  min-height: calc(100vh - 250px);
  margin-bottom: 100px;
  @media screen and (max-width: 1023px){
    flex-direction: column;
    align-items: center;
  }
}

.longread__nav {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  
  @media screen and (min-width: $iphone11) {
    padding-top: 50px;
  }
  
  @media screen and (max-width: 1200px){
    width: 200px;
    flex-shrink: 0;
  }
  @media screen and (max-width: 1023px){
    position: static;
    align-self: flex-start;
    width: auto;
    margin-bottom: 40px;
    padding-right: 0;
  }
  @media screen and (max-width: 767px){
    padding-top: 50px;
  }

  @media screen and (max-height: 530px){
    position: static;
  }
  
  @media screen and (min-width: $desktop) {
    width: 263px;
    padding-top: 80px;
    padding-right: 40px;
  }
}

.longread__title {
  @include reset;
  margin-bottom: 40px;
  font-family: $font-header;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: $black;
}

.longread__nav-list {
  @include reset-list;
}

.longread__nav-item {
  position: relative;
  @include reset;
  margin-bottom: 20px;
  padding-left: 15px;
  opacity: 0.7;
  transition: opacity ease-in-out 300ms;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 2px;
    width: 2px;
    height: 16px;
    border-radius: 5px;
    background-color: $violet;
    opacity: 0;
    transition: opacity ease-in-out 300ms;
  }
  &--active {
    opacity: 1;
  }



  &--active::before {

    opacity: 1;
  }
}

.longread__blocks {
  width: 100%;
  flex-grow: 0;
  
  @media screen and (min-width: $ipadpro){
    margin-left: 240px;
    width: 710px;
  }
  @media screen and (min-width: $desktop){
    margin-left: 303px;
    width: 870px;
  }
}

.longread-block {
  padding-top: 80px;
  //margin-bottom: 80px;
  @media screen and (max-width: 767px) {
    //margin-bottom: 50px;
    padding-top: 50px;
  }
}

.longread-block__title {
  @include reset;
  margin-top: 9px;
  margin-bottom: 30px;
  font-family: $font-header;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
  @media screen and (max-width: 1024px){
    margin-top: 0;
  }
}
