.main-page-projects {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.main-page-project {
  @include shadow;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

.main-page-project__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 470px){
    flex-direction: row;
    
    max-height: 220px;
  }
  &:hover,
  &:focus {
    color: $black;
  }
}

.main-page-project__img-container {
  overflow: hidden;
  width: 100%;
  height: 220px;
  @media screen and (min-width: $ipad){
    width: 208px;
    flex-shrink: 0;
    margin-right: 50px;
  }
  
}

.main-page-project__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.main-page-project__text {
  padding: 24px 20px 20px;
  @media screen and (min-width: $ipad){
    width: 280px;
    padding: 0;
  }
}


.main-page-project__title {
  @include reset;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $black;
}

.main-page-project__description {
  @include reset;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba($black, 0.7);
}