.news {
  max-width: 800px !important;
  padding: 0;
  margin: 0 auto;
}

.news__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 600px) and (max-width: $ipad) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    
  }
}

.news-item {
  @include shadow;
  overflow: hidden;
  display: flex;
  margin-top: 0;
  
  @media screen and (min-width: $ipad){
    min-height: 250px;
  }
  &:not(:last-child) {
    margin-bottom: 12px;
    
  }
}

.news-item__link {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $ipad){
    flex-direction: row;
    align-items: center;
  }
}


.news-item__img-container {
  overflow: hidden;
  width: 100%;
  @media screen and (min-width: $ipad){
    width: auto;
    height: 100%;
    flex-shrink: 0;
    margin-right: 50px;
  }
}

.news-item__img {
  object-fit: cover;
  height: 220px;
  width: 100%;
  @media screen and (min-width: $ipad){
    width: 300px;
    height: 100%;
  }
}

.news-item__text {
  padding: 24px 20px 20px;
  color: rgba($black, 0.7);
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $ipad){
    height: 100%;
    padding-left: 0;
    justify-content: center;
  }
}

.news-item__date {
  @include reset;
  margin-bottom: 5px;
  font-size: 12px;
  color: rgba($black, 0.5);
}

.news-item__title {
  @include reset;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
}

.news-item__description {
  @include reset;
  & p {
    @include reset;
    display: inline;
  }
}

.news__message {
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
  background-color: $light-grey;
  color: $middle-grey;
  text-align: center;
}

.news__message--error {
  color: $orange;
  border-color: $orange;
  background-color: rgba($orange, 0.05);
}

.news__message--hide {
  display: none;
}

.news__message-btn {
  box-shadow: none;
  background-color: transparent;
  color: $orange;
  border: none;
  text-decoration: underline;
  &:focus {
    outline-color: rgba($orange, 0.7);
  }
}
