.payment,
.payment.inner-page {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.payment__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @media screen and (min-width: $ipad){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.payment__title {
  margin-bottom: 0;
}

.payment__toggle-list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $violet;
  border-radius: 23px;
  & li {
    margin-top: 0;
  }
}

.payment__toggle-label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 22px;
}

input:checked ~ .payment__toggle-label {
  color: $white;
  background-color: $violet;
}

.payment__list {
  position: relative;
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.payment__list-item--hidden {
  display: none;
}

.payment {
  @media screen and (min-width: $ipadpro) {
    & .form-payment {
      width: 100%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    & .form-payment__row {
      flex-direction: row;
    }
  }
}

.payment-content-acc__download-link {
  font-size: 20px;
  line-height: 25px;
}

.payment__download-link {
  display: block;
  margin-top: 30px;
}