.payment,
.payment.inner-page {
  display: flex;
  flex-direction: column;
  min-height: 1100px;
  @media screen and (max-width: 767px) {
    min-height: auto;
  }
  
}

.payment .page-wrapper {
  //@media screen and (max-width:1024px) {
  //  width: 960px;
  //}
  @media screen and (max-width: 1024px) {
    //width: 700px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (max-width: 350px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.payment__title {
  text-align: center;
}


.payment__list {
  position: relative;
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  
  @media screen and (min-width: 1280px) {
    width: 1065px;
  }
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.payment__list-item {
  @include reset;
  width: 19%;
  flex-shrink: 1;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}


.payment__list-btn {
  @include reset;
  @include shadow;
  position: relative;
  border: none;
  display: flex;
  flex-grow: 1;
  box-shadow: none;
  box-sizing: border-box;
  background-color: transparent;
  width: 197px;
  height: 165px;
  
  &:not(:last-child) {
    margin-right: 10px;
  }
  
  @media screen and (max-width: 1280px) {
    width: 176px;
  }
  @media screen and (max-width: 1023px) {
    //width: 130px;
    min-width: 130px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
  }
  
  &:hover,
  &:focus,
  &--active {
    outline: none;
    box-shadow: 0 0 0 1px $violet;
    
    & span {
      color: $violet;
    }
  }
  
  &::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    background-image: url("/img/sprite.svg");
    background-repeat: no-repeat;
    background-position-y: -59px;
    @media screen and (max-width: 767px) {
      top: 10px;
      left: 10px;
      width: 50px;
      height: 50px;
      transform: none;
      background-size: 385px;
      background-position-y: -41px;
    }
  }
  
  &--online::after {
    background-position-x: 0;
  }
  
  &--app::after {
    background-position-x: -80px;
    @media screen and (max-width: 767px) {
      background-position-x: -57px;
    }
  }
  
  &--acc::after {
    background-position-x: -160px;
    @media screen and (max-width: 767px) {
      background-position-x: -114px;
    }
  }
  
  &--cash::after {
    background-position-x: -240px;
    @media screen and (max-width: 767px) {
      background-position-x: -171px;
    }
  }
  
  &--atm::after {
    background-position-x: -320px;
    @media screen and (max-width: 767px) {
      background-position-x: -228px;
    }
  }
  
  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $middle-grey;
    box-shadow: 0 0 30px rgba(50, 118, 207, 0.28);
    width: calc(100% - 30px);
    height: 20px;
    border-radius: 10px;
    content: '';
  }
}

.payment__list-btn span {
  position: absolute;
  top: 0;
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 10px 20px;
  background-color: $white;
  border-radius: 12px;
  text-align: center;
  @media screen and (max-width: 767px) {
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 10px 80px;
    text-align: left;
  }
}

.payment__list-btn--active + .payment__content {
  display: block;
}

.payment__content {
  display: none;
  position: absolute;
  margin-top: 50px;
  margin-bottom: 50px;
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.payment-content-online,
.payment-content-acc,
.payment-content-cash,
.payment-content-atm {
  left: 0;
  width: 100%;
  @media screen and (max-width: 1024px) {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (max-width: 767px) {
    position: static;
    margin-top: 40px;
    width: 100%;
  }
}


.payment-content-app {
  left: -80px;
  @media screen and (max-width: 1280px) {
    //width: 960px;
    width: 100%;
    left: 0;
  }
  @media screen and (max-width: 1024px) {
    left: 0;
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    position: static;
    margin-top: 40px;
  }
}

.payment__content-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #C5DAEF;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.payment__content-title h2 {
  @include reset;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: rgba($black, 0.5);
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.payment {
  @media screen and (min-width: $ipadpro) {
    & .form-payment {
      width: 100%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    & .form-payment__row {
      flex-direction: row;
    }
  }
}

.payment-content-acc__download-link {
  font-size: 20px;
  line-height: 25px;
  color: $violet;
}

.payment-content-app__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: space-between;
  }
}


.payment-content-app__img-desktop {
  display: flex;
  box-sizing: border-box;
  margin-right: 50px;
  width: 700px;
  height: auto;
  @media screen and (max-width: 1279px) {
    width: 530px;
    flex-grow: 1;
  }
  @media screen and (max-width: 1023px) {
    min-width: 300px;
    width: auto;
    flex-shrink: 1;
    flex-grow: 1;
    margin-right: 20px;
  }
  
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  
  & picture,
  & img {
    width: 700px;
    overflow: hidden;
    border-radius: 5px;
    @media screen and (max-width: 1279px) {
      width: 530px;
    }
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.payment-content-app__img-mobile {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 50px;
  padding-left: 80px;
  width: 700px;
  height: auto;
  @media screen and (max-width: 1280px) {
    width: 530px;
  }
  @media screen and (max-width: 1024px) {
    width: 300px;
    justify-content: flex-start;
    padding-left: 30px;
  }
  @media screen and (max-width: 767px) {
    justify-content: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
    padding-left: 0;
  }
  
  & picture,
  & img {
    width: 225px;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
  }
}


.payment-content-app__img--hide {
  display: none;
}

.payment__content-app {
  width: 400px;
}

.payment-content-app__toggle {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  width: 374px;
  height: 40px;
  margin-bottom: 30px;
  border: 1px solid $blue;
  border-radius: 10px;
  background-color: $white;
  @media screen and (max-width: 767px) {
  
  }
  @media screen and (max-width: 450px) {
    border: none;
    flex-direction: column;
    background-color: transparent;
    height: auto;
  }
  
  & li {
    @include reset;
    width: 50%;
  }
  
  & label:hover {
    color: $green;
  }
  
  & .toggle-indicator {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 40px;
    padding: 9px 30px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    @media screen and (max-width: 767px) {
      padding: 9px 25px;
    }
    @media screen and (max-width: 450px) {
      margin-bottom: 10px;
      background-color: $white;
      border: 1px solid $blue;
    }
  }
  
  & input:checked + .toggle-indicator {
    background-color: $blue;
    color: $white;
  }
  
  & input:focus + .toggle-indicator {
    background-color: $violet;
  }
}

.payment-content-app__text {
  @include reset-list;
  margin-bottom: 50px;
}

.payment-content-app__item {
  display: flex;
  align-items: center;
  
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.payment-content-app__number {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  margin-right: 23px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba($violet, 0.1);
}

.payment-content-app__link--hide {
  display: none;
}

.payment-content-acc__data-table {
  border: none;
  
  & td {
    padding-bottom: 12px;
    
    &:first-child {
      width: 200px;
      font-weight: 300;
      color: rgba($black, 0.7);
      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0;
      }
    }
    
    &:last-child {
      @media screen and (max-width: 767px) {
        padding: 0;
        padding-bottom: 10px;
      }
    }
    
    @media screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  
  & tr {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
}

.payment-content-cash__wrapper,
.payment-content-atm__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  
  & picture,
  & img {
    width: 630px;
    box-sizing: border-box;
    margin-right: 30px;
    height: auto;
    @media screen and (max-width: 1279px) {
      width: 543px;
    }
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      //width: 100%;
      margin-right: 0;
    }
  }
  
  & p {
    width: 380px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
