.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  color: $black;
}

.popup--hide {
  display: none;
}

.popup__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.5);
}

.popup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  box-sizing: border-box;
  background-color: $white;
  border-radius: 15px;
}

.popup__close-btn {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
  border: none;
  box-shadow: none;
  font: inherit;
  font-size: 12px;
  line-height: 22px;
  color: $black;
  background-color: transparent;
  &:hover,
  &:focus {
    color: $violet;
  }
}


.popup-map {
  & .popup__wrapper {
    width: 1170px;
    max-width: none;
    height: 532px;
    max-height: none;
    padding: 60px 30px 30px;

    @media screen and (max-width: 1279px) {
      width: 100%;
      border-radius: 15px 15px 0 0;
      top: auto;
      bottom: 0;
      left: 0;
      transform: none;
    }
  }
  & iframe {
    @media screen and (max-width: 1279px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      height: 500px;
    }
  }
}

.popup-feedback {

  & .popup__wrapper {
    width: 450px;
    padding: 60px 50px 50px;
    box-sizing: border-box;
    display: flex;
    @media screen and (max-width: 767px) {
      width: 100%;
      border-radius: 15px 15px 0 0;
      padding: 50px 30px 30px;
      top: auto;
      bottom: 0;
      left: 0;
      transform: none;

    }
    @media screen and (max-width: 380px) {
      height: 500px;
      overflow-y: auto;
    }
  }
}

.popup-map .popup__close-btn {
  right: 30px;
}



