.project {
  @include shadow;
  margin: 40px auto 80px;
  max-width: 600px !important;
  overflow: hidden;
}

.project__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 27px;
}


.project__type {
  display: inline-block;
  padding: 3px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  background-color: $blue;
}

.project__type--closed {
  background-color: $middle-grey;
}

.project__text {
  padding: 4px;
  @media screen and (min-width: $iphone11){
    padding: 8px;
  }
  @media screen and (min-width: $ipad){
    padding: 24px;
  }
}

.project .doc {
  background-color: $light-grey;
}

.project-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 20px 12px 20px;
  border-radius: 15px;
  background-color: rgba($violet, 0.05);
  
  @media screen and (min-width: $ipad){
    padding: 40px 40px 70px;
  }
}
.project-form--hide {
  display: none;
}

.project-form .form2__caption {
  @include reset;
  text-align: center;
}



.project__status {
  margin-top: 30px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $middle-grey;
}
