.section {
  margin-top: 60px;
  margin-bottom: 60px;
  @media screen and (min-width: $ipad) {
    margin-top: 0;
    margin-bottom: 100px;
  }
}

.section__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @media screen and (min-width: $ipad) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
}

.section__title {
  @include reset;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  font-width: 700;
  text-align: left;
  color: $black;
}


