.slider {
  width: 100%;
  position: relative;

}

.slider__list {
  @include reset-list;
  position: relative;
  height: 560px;
  z-index: 1;
  @media screen and (max-width: 1023px){
    height: 300px;
  }

  @media screen and (max-width: 680px){
    height: 560px;
  }

  @media screen and (max-width:320px){
    height: 460px;
  }
}

.slide {
  @include reset;
  height: 560px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity ease-in-out 500ms;
  z-index: 0;

  @media screen and (max-width: 1023px){
    height: 300px;
  }

  @media screen and (max-width: 680px){
    height: 560px;
  }

  @media screen and (max-width:320px){
    height: 460px;
  }

  &--show {
    opacity: 1;
    z-index: 1;
  }


}



.slide--online-teacher {
  background-image: url("/img/pattern.png");
  background-repeat: repeat;
  & .page-wrapper {
    height: 100%;
    box-sizing: border-box;
    @media screen and (max-width: 1425px){
      padding-left: 70px;
    }

    @media screen and (max-width: 1280px){
      width: 100%;
      padding-left: 200px;
      padding-right: 100px;
    }

    @media screen and (max-width: 1024px){
      padding-left: 100px;
    }
    @media screen and (max-width: 768px){
      padding-left: 70px;
      padding-right: 70px;
    }

  }
  & a {
    display: flex;
    align-items: center;
    height: 100%;
    background-image: url("/img/boy.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 525px;


    @media screen and (-webkit-min-device-pixel-ratio: $retina-dppx),
    screen and (min-resolution: $retina-dpi){
      background-image: url("/img/boy@2x.png");
    }
    @media screen and (min-width: 1280px) {
      background-position: bottom right 100px;
    }

    @media screen and (min-width: 1024px) {
      background-position: bottom right;
    }

    @media screen and (max-width: 1023px) {
      background-position: top 24px right;
      background-size: auto 313px;
    }

    @media screen and (max-width: 680px){
      background-size: auto 292px;
      background-position: center bottom;
      flex-direction: column;
    }
    @media screen and (max-width:320px){
      background-size: auto 220px;
    }

    &:focus {
      outline: none;
      background-color: rgba($green, 0.1);
    }


  }
  & p {
    @include reset;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: $green;
    @media screen and (max-width: 1280px){
      width: 400px;
    }
    @media screen and (max-width: 1023px){
      font-size: 45px;
      line-height: 45px;
    }
    @media screen and (max-width: 830px){
      width: 300px;
      font-size: 40px;
      line-height: 40px;
    }
    @media screen and (max-width: 680px){
      margin-top: 40px;
      text-align: center;
    }
    @media screen and (max-width: 420px){
      font-size: 25px;
      line-height: 27px;
      width: 100%;
    }

  }
}


.slider__control {
  @include reset;
  cursor: pointer;
  position: absolute;
  min-width: 50px;
  width: 10%;
  height: 100%;
  border: none;
  background: transparent;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29px;
    height: 54px;
    content: '';
    background-image: url("/img/sprite.svg");
    background-repeat: no-repeat;
  }
  @media screen and (max-width: 1024px) {
    width: 70px;
  }

  &--hide {
    display: none;
  }

  &--prev {
    left: 0;
    &::after {
      background-position: -15px 0;
    }
    &:hover::after,
    &:focus::after{
      background-position: -100px 0;
    }
  }
  &--next {
    right: 0;
    &::after {
      background-position: -49px 0;
    }
    &:hover::after,
    &:focus::after{
      background-position: -134px 0;
    }
  }
  &:hover,
  &:focus {
    outline: none;
  }
}

.slider__navigation {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  @include reset-list;
  box-sizing: border-box;
}

.slider__navigation-item {
  @include reset;
}

.slider__navigation-item label{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}


input + .slider__slide-indicator {
  cursor: pointer;
  display: block;
  position: relative;
  border-radius: 50%;
  border: 1px solid $middle-grey;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
}

input:checked {
  & + .slider__slide-indicator {
    border: 1px solid $green;
    box-shadow: 0 0 0 2px $green;
  }
  &:focus + .slider__slide-indicator {
    box-shadow: 0 0 5px 2px $green;
  }
}
