@mixin reset() {
  margin: 0;
  padding: 0;
}

@mixin reset-list() {
  @include reset;
  list-style: none;
}

@mixin shadow {
  background: $white;
  box-shadow:
    0px 25px 20px -20px rgba($violet, 0.15),
    0px 0px 50px rgba($violet, 0.11);
  border-radius: 12px;
  transition: box-shadow 300ms ease-in-out;
  &:hover {
    box-shadow:
      0px 30px 20px -20px rgba($violet, 0.3),
      0px 0px 50px rgba($violet, 0.2);
  }
}

* {
  box-sizing: inherit;
}

body {
  @include reset;
  font-family: $font-text;
  font-size: 16px;
  line-height: 22px;
  color: rgba($black, 0.7);
  box-sizing: border-box;
  background: radial-gradient(51.25% 101.35% at 7.19% 44.43%, #EBF8FF 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(100% 197.75% at 100% 0%, rgba(241, 234, 255, 0.958333) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  background-blend-mode: multiply, normal, normal;
}




main {
  padding-top: 80px;
}

img {
  display: block;
  height: auto;
}

picture {
  display: block;
}

a {
  text-decoration: none;
  transition: background-color ease-in-out 300ms,
  color ease-in-out 300ms;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  color: $violet;
  &:visited {
    color: $violet;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    color: $blue;
    
  }
  &:focus {
    outline-color: $violet;
    outline-width: 1px;
    color: $blue;
  }
  &:active {
    color: $violet;
  }

}

.link {
  color: $violet;
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}





.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.rouble {
  display: flex;
  position: relative;
  padding-right: 12px;
  &::after {
    position: absolute;
    content: '';
    right: 0;
    top: 4px;
    width: 9px;
    height: 12px;
    background-image: url("/img/sprite.svg");
    background-repeat: no-repeat;
    background-position: -168px 0;
  }
}


// убирает тени для input в safari
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


// убирает стрелочки для input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}