@font-face {
  font-family: 'plumb';
  src: url('/fonts/plumb-black.woff2') format('woff2'),
  url('/fonts/plumb-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'plumb';
  src: url('/fonts/Plumb-Bold.woff2') format('woff2'),
  url('/fonts/Plumb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'plumb';
  src: url('/fonts/plumb-medium.woff2') format('woff2'),
  url('/fonts/plumb-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'plumb';
  src: url('/fonts/Plumb-Regular.woff2') format('woff2'),
  url('/fonts/Plumb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'plumb';
  src: url('/fonts/plumb-light.woff2') format('woff2'),
  url('/fonts/plumb-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
