$black: #212121;
$white: #fff;
$light-grey: #EEF6FE;
$middle-grey: #B8C4D4;
$green: #7AC133;
$violet: #6069E0;
$blue: #30ADD5;
$orange: #FFA84F;

$grey-gradient: linear-gradient(157.2deg, #F7FAFD 0%, #F7FAFD 100%);


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
