$black: #212121;
$white: #fff;
$light-grey: #EEF6FE;
$middle-grey: #B8C4D4;
$green: #7AC133;
$violet: #6069E0;
$blue: #30ADD5;
$orange: #FFA84F;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop: 1170px;
$ipadpro: 1024px;
$ipad: 750px;
$iphone11: 375px;
$iphoneSE: 320px;

$font-header: 'Raleway', sans-serif;
$font-text: 'Roboto', sans-serif;
